<div class="widgetLoader" *ngIf="loading">
	<div class="widgetLoaderBar" *ngFor="#color of colors; #i = index;"
		[style.background-color]="color"
		[style.webkit-animation]="'loading ' + colors.length + 's linear ' + (colors.length - i - 1) + 's infinite'"
		[style.-moz-animation]="'loading ' + colors.length + 's linear ' + (colors.length - i - 1) + 's infinite'"
		[style.-o-animation]="'loading ' + colors.length + 's linear ' + (colors.length - i - 1) + 's infinite'"
		[style.-ms-animation]="'loading ' + colors.length + 's linear ' + (colors.length - i - 1) + 's infinite'"
		[style.animation]="'loading ' + colors.length + 's linear ' + (colors.length - i - 1) + 's infinite'"
	></div>
</div>