<div class="sell"
	[shadowHover]="[0,8,12]"
	[class.show]="show"
	[class.oblong]="hovering && !customizations.values.vertical" 
	[class.oblongVertical] = "hovering && customizations.values.vertical"
	[style.color]="customizations.values.colors[0]"
	(click)="sell()">

		<div class="dollarContainer"
			[style.width]="(hovering && customizations.values.vertical)?'100%':'80px'">
			<span>$</span><span *ngIf="hovering" class="sellText">ell</span>
		</div>
		<div class="featuredText" [class.featuredTextVisible]="hovering">
			and get
			<span class="bold">featured</span>
			here <img class="partnerLogo" 
				*ngIf="logoValid && !customizations.values.vertical"
				[style.height]="customizations.values.partnerLogoSize"
				[src]="customizations.values.partnerLogo"/>
		</div>
		<div class="partnerLogoLarge" 
			*ngIf="logoValid && customizations.values.vertical"
			[class.partnerLogoLargeVisible]="hovering"
			[style.background-size]="customizations.values.partnerLogoSize + 'px'"
			[style.background-image]="'url(' + customizations.values.partnerLogo + ')'">
		</div>
</div>