@font-face {
    font-family: "Brown-Lite";
    src: url("./app/assets/Brown-Light.ttf");
}

.listingContainer {position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: auto; width: 100%; height: 100%;font-family: "Brown-Lite";}