<div *ngIf="focus.active && focus.listing" class="listingDisplay"
	[style.width]="focus.listing.width" 
	[style.height]="focus.listing.height"
	[style.top]="focus.listing.top"
	[style.left]="focus.listing.left"
	[style.background-color]="color"
	[style.box-shadow]="'0 1px 2px ' + color"
	[style.background-image]="focus.listing.slide.image" 
	[style.background-position]="position"
	[style.opacity]="1"
	(click)="openListing()">
	
	<opener [listing]="focus.listing"></opener>

	<sold-banner *ngIf="focus.listing.status == 2" ></sold-banner>	
	<div class="price" *ngIf="focus.listing.price" [style.background-color]="color">$ {{focus.listing.price | price}}</div>

	<div class="titleContainer" [class.titleContainerActive]="showTitle && hasTitles">
		<div class="titleBkgd" [style.background-color]="color"></div>
		<div class="titleText">{{focus.listing.title}}</div>
		<div class="titleSubText">Learn More</div>
	</div>

	<widget-loader [loading]="loading"></widget-loader>
</div>